<div class="col s12 m12 l12 register">
  <div class="card">
    <div class="card-content">
      <p>Crea un account per iniziare ad aggiungere i tuo Feed.</p>
    </div>
    <div class="card-action">
      <a href="/register" class="btn white indigo-text" style="font-family: Roboto;"><b>Registrati</b></a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m12 l4">
    <div class="card">
      <div class="card-image responsive-img">
        <img src="/images/homepage/a.png">
      </div>
      <div class="card-content">
        <p>Organizza i tuoi feeds in categorie, crea la tua dashboard.</p>
      </div>
    </div>
</div>
  <div class="col s12 m12 l4">
    <div class="card">
      <div class="card-image">
        <img src="/images/homepage/b.png">
      </div>
      <div class="card-content">
        <p>Rimani aggiornato con notifiche in tempo reale sugli ultimi Feed.</p>
      </div>
    </div>
</div>
  <div class="col s12 m12 l4">
    <div class="card">
      <div class="card-image">
        <img src="/images/homepage/c.png">
      </div>
      <div class="card-content">
        <p>Design semplice e adatto a ogni dispositivo.</p>
      </div>
    </div>
</div>
</div>
