<?xml version="1.0" encoding="ISO-8859-1"?>


<rss version="2.0" >
   <channel> 
      <title>Avvisi di Unimi.it</title> 
      <link>http://www.unimi.it</link> 
      <description>Avvisi dell'Università degli Studi di Milano</description> 
      <language>it-it</language> 
      <pubDate>Thu, 30 Aug 2018 01:05:16 +0200</pubDate> 
<lastBuildDate>Thu, 30 Aug 2018 01:05:16 +0200</lastBuildDate>
      <docs>http://blogs.law.harvard.edu/tech/rss</docs> 
      <generator>OpenText CMS</generator> 

      <item> 
         <title>Selezioni per 1 professore di seconda fascia e 6 ricercatori</title> 
         <link>http://www.unimi.it</link> 
         <description>

<![CDATA[Aperte le candidature per la selezione di un docente di seconda fascia (scadenza 24 settembre) e per sei ricercatori a tempo determinato di tipo A e B (scadenze 21, 24 settembre e 5 ottobre).&nbsp;]]>
</description> 
         <pubDate>Wed, 29 Aug 2018 10:07:39 +0200</pubDate> 
         <guid isPermaLink="false"></guid> 
      </item>

      <item> 
         <title>Personale non docente: nuovi concorsi a tempo determinato e indeterminato</title> 
         <link>http://www.unimi.it</link> 
         <description>

<![CDATA[Aperte le candidature a una posizioni&nbsp;presso uffici, strutture e dipartimenti dell’Università Statale di Milano. Maggiori dettagli nella pagina <a href="http://www.unimi.it/ateneo/concorsi/1409.htm">"Concorsi e selezione&nbsp;- Reclutamento personale tecnico-amministrativo"</a>.]]>
</description> 
         <pubDate>Wed, 25 Jul 2018 10:23:00 +0200</pubDate> 
         <guid isPermaLink="false"></guid> 
      </item>

      <item> 
         <title>Aggiornamento certificato di rete Eduroam</title> 
         <link>http://www.unimi.it</link> 
         <description>

<![CDATA[Il <strong>29 agosto </strong>l’Ateneo aggiorna il certificato di rete Eduroam e, per accedere al <strong>servizio wireless</strong>,&nbsp;gli utenti dovranno <strong>ripetere la procedura di configurazione </strong>dei propri dispositivi seguendo le istruzioni disponibili online nella <a href="http://www.unimi.it/personale/servizi/71508.htm">pagina dedicata del portale</a>.]]>
</description> 
         <pubDate>Tue, 28 Aug 2018 15:07:08 +0200</pubDate> 
         <guid isPermaLink="false"></guid> 
      </item>

      <item> 
         <title>Calendario delle chiusure di agosto 2018</title> 
         <link>http://www.unimi.it</link> 
         <description>

<![CDATA[Calendario di chiusure estive nei weekend per alcune delle sedi dell'Università degli Studi di Milano.]]>
</description> 
         <pubDate>Wed, 22 Aug 2018 17:10:22 +0200</pubDate> 
         <guid isPermaLink="false"></guid> 
      </item>

      <item> 
         <title>Accesso gratuito ai principali prodotti MathWorks</title> 
         <link>http://www.unimi.it</link> 
         <description>

<![CDATA[Grazie a un contratto tra Università Statale e The MathWorks, docenti, tecnici e amministrativi, ricercatori, dottorandi, borsisti, assegnisti e studenti in corso possono utilizzare gratuitamente i software MATLAB, Simulink e oltre 80 toolboxes specializzati. Maggiori dettagli nella pagina <a href="/personale/servizi/79539.htm">"Contratto Campus Mathworks"</a>.]]>
</description> 
         <pubDate>Tue, 31 Jul 2018 17:56:57 +0200</pubDate> 
         <guid isPermaLink="false"></guid> 
      </item>

      <item> 
         <title>Come difendersi dalla truffa tramite e-mail in corso in questi giorni</title> 
         <link>http://www.unimi.it</link> 
         <description>

<![CDATA[Anche gli utenti con dominio @unimi.it, @studenti.unimi.it e @guest.unimi.it sono potenziali vittime di una truffa tramite e-mail in corso in questi giorni in tutta Italia. Maggiori dettagli su come difendersi nella <a href="http://www.unimi.it/personale/122020.htm">pagina dedicata</a> del "Servizio di sicurezza informatica e tutela dati personali".]]>
</description> 
         <pubDate>Fri, 27 Jul 2018 19:19:51 +0200</pubDate> 
         <guid isPermaLink="false"></guid> 
      </item>

      <item> 
         <title>Piano di Assistenza sanitaria per il personale: al via le adesioni per il 2018</title> 
         <link>http://www.unimi.it</link> 
         <description>

<![CDATA[Fino al 31 agosto, tecnici, amministrativi, professori e ricercatori -&nbsp;con Certificazione unica (CU) superiore ai 60 mila euro -&nbsp;possono aderire o rinnovare la polizza assicurativa UniSalute. Maggiori dettagli e il link alla procedura online nella pagina "<a href="http://www.unimi.it/personale/1241.htm#par105875">Welfare d'Ateneo - Assicurazione Sanitaria</a>".]]>
</description> 
         <pubDate>Wed, 13 Jun 2018 10:16:44 +0200</pubDate> 
         <guid isPermaLink="false"></guid> 
      </item>

      <item> 
         <title>People Care: il contributo per gli asili nido 2018</title> 
         <link>http://www.unimi.it</link> 
         <description>

<![CDATA[Dal 27 marzo al 23 novembre, assegnisti, dottorandi, specializzandi, personale tecnico amministrativo, collaboratori ed esperti linguistici, professori e ricercatori possono fare <a href="https://cas.unimi.it/login?service=http%3A%2F%2Fwww.unimi.it%2Fpeoplecare%2F">richiesta online</a> del contributo per la frequenza degli asili nido dei propri figli e figlie. Maggiori dettagli nella pagina <a href="/personale/1241.htm">"Welfare d'Ateneo"</a>.]]>
</description> 
         <pubDate>Tue, 27 Mar 2018 14:57:53 +0200</pubDate> 
         <guid isPermaLink="false"></guid> 
      </item>

      <item> 
         <title>Biblioteche aperte di sera e nel weekend</title> 
         <link>http://www.unimi.it</link> 
         <description>

<![CDATA[Con l'avvio del nuovo anno accademico, tornano le biblioteche aperte di sera e nel weekend dell'Università Statale di Milano, sia in via Festa del Perdono che a Città Studi.]]>
</description> 
         <pubDate>Fri, 15 Sep 2017 12:34:38 +0200</pubDate> 
         <guid isPermaLink="false"></guid> 
      </item>

      <item> 
         <title>Contributo per il diritto allo studio dei figli del personale</title> 
         <link>http://www.unimi.it</link> 
         <description>

<![CDATA[Fino al 23 novembre, è possibile richiedere online il contributo per acquisto di libri di testo, gite scolastiche, trasporti, servizi di baby sitting, rette scolastiche e universitarie e servizi scolastici integrativi. Per maggiori dettagli, consultare la pagina "<a href="http://www.unimi.it/personale/1241.htm#par105868">Welfare d'Ateneo - Contributo per il diritto allo studio dei figli dei dipendenti</a>".]]>
</description> 
         <pubDate>Wed, 13 Jun 2018 10:28:10 +0200</pubDate> 
         <guid isPermaLink="false"></guid> 
      </item>

      <item> 
         <title>Numero telefonico unico per il servizio Infostudenti</title> 
         <link>http://www.unimi.it</link> 
         <description>

<![CDATA[Il servizio Infostudenti fornisce informazioni e assistenza telefonica solo al numero 199 188 128, con un costo della chiamata, da telefono fisso, pari a quello di una telefonata urbana.]]>
</description> 
         <pubDate>Tue, 18 Jul 2017 17:52:58 +0200</pubDate> 
         <guid isPermaLink="false"></guid> 
      </item>

      <item> 
         <title>Corriere Digital Edition e Corriere Tutto+ a prezzi vantaggiosi per studenti e personale</title> 
         <link>http://www.unimi.it</link> 
         <description>

<![CDATA[Al via il <strong>Progetto Università del "Corriere della Sera"</strong>, che offre alla nostra comunità universitaria la fruizione&nbsp;- a prezzi scontati - dei <strong>contenuti digitali </strong>e di <strong>tanti altri vantaggi </strong>del mondo editoriale del <strong>"Corriere"</strong>. L'accesso alla promozione è raggiungibile nella pagina <a href="http://www.unimi.it/ateneo/32114.htm">"Opportunità per studenti e personale"</a> della sezione ATENEO del portale unimi.it.]]>
</description> 
         <pubDate>Fri, 15 Apr 2016 15:37:31 +0200</pubDate> 
         <guid isPermaLink="false"></guid> 
      </item>

      <item> 
         <title>Supporto alla didattica per gli studenti cinesi</title> 
         <link>http://www.unimi.it</link> 
         <description>

<![CDATA[Un desk di sostegno, tutto dedicato, aiuterà gli studenti di Scienze della mediazione linguistica nei rapporti con le segreterie, la correzione di tesi e i problemi legati allo studio.]]>
</description> 
         <pubDate>Fri, 04 Dec 2015 09:40:46 +0200</pubDate> 
         <guid isPermaLink="false"></guid> 
      </item>

      <item> 
         <title>Segreterie studenti: per gli studenti iscritti accesso solo su prenotazione</title> 
         <link>http://www.unimi.it</link> 
         <description>

<![CDATA[Le Segreterie ricevono gli studenti iscritti solo su appuntamento per ridurre i disagi delle code e offrire un servizio migliore. Per prenotarsi, basta accedere con le credenziali di Ateneo al Servizio Infostudenti. Maggiori dettagli nella pagina "Segreterie studenti".]]>
</description> 
         <pubDate>Tue, 13 Dec 2016 12:18:48 +0200</pubDate> 
         <guid isPermaLink="false"></guid> 
      </item>

      <item> 
         <title>Assistenza sanitaria gratuita per studenti fuori sede</title> 
         <link>http://www.unimi.it</link> 
         <description>

<![CDATA[Un accordo tra Ateneo, Comune e ASL di Milano offre gratuitamente l'assistenza sanitaria di base&nbsp;agli studenti non residenti in Lombardia. Maggiori dettagli nella sezione <A title="Assistenza sanitaria gratuita per studenti residenti fuori dalla Lombardia" href="/studenti/tasse/47080.htm">Studenti</A> del portale unimi.it.]]>
</description> 
         <pubDate>Thu, 17 Jan 2013 16:54:36 +0200</pubDate> 
         <guid isPermaLink="false"></guid> 
      </item>

      <item> 
         <title>Prestiti per studenti </title> 
         <link>http://www.unimi.it</link> 
         <description>Avvisi&lt;br/&gt;

<![CDATA[Vanno dai 5 ai 10 mila euro i prestiti previsti per gli studenti capaci e meritevoli iscritti all’anno accademico in corso. Maggiori dettagli nella pagina <A title="Prestiti alla studenti" href="/studenti/tasse/54422.htm">"Prestiti"</A> del portale unimi.it.]]>
</description> 
         <pubDate>Fri, 18 Apr 2014 13:10:15 +0200</pubDate> 
         <guid isPermaLink="false"></guid> 
      </item>

   </channel> 
</rss>
