<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet title="XSL_formatting" type="text/xsl" href="/shared/bsp/xsl/rss/nolsol.xsl"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0" xmlns:media="http://search.yahoo.com/mrss/">
    <channel>
        <title><![CDATA[BBC News - UK]]></title>
        <description><![CDATA[BBC News - UK]]></description>
        <link>https://www.bbc.co.uk/news/</link>
        <image>
            <url>https://news.bbcimg.co.uk/nol/shared/img/bbc_news_120x60.gif</url>
            <title>BBC News - UK</title>
            <link>https://www.bbc.co.uk/news/</link>
        </image>
        <generator>RSS for Node</generator>
        <lastBuildDate>Fri, 31 Aug 2018 16:05:27 GMT</lastBuildDate>
        <copyright><![CDATA[Copyright: (C) British Broadcasting Corporation, see http://news.bbc.co.uk/2/hi/help/rss/4498287.stm for terms and conditions of reuse.]]></copyright>
        <language><![CDATA[en-gb]]></language>
        <ttl>15</ttl>
        <item>
            <title><![CDATA[Theresa May plot: Man jailed for life for Downing Street murder plan]]></title>
            <description><![CDATA[Naa'imur Zakariyah Rahman planned to detonate a bomb at the gates of Downing Street then kill the PM with a knife or gun.]]></description>
            <link>https://www.bbc.co.uk/news/uk-45373487</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-45373487</guid>
            <pubDate>Fri, 31 Aug 2018 15:42:37 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/27E2/production/_102601201_rahman-1.jpg"/>
        </item>
        <item>
            <title><![CDATA[Lucy McHugh death: Man jailed over Facebook password refusal]]></title>
            <description><![CDATA[The body of Lucy McHugh, 13, was found in woods near a sports centre in Southampton last month.]]></description>
            <link>https://www.bbc.co.uk/news/uk-england-hampshire-45365464</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-england-hampshire-45365464</guid>
            <pubDate>Fri, 31 Aug 2018 13:17:01 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/15038/production/_102727068_hants.jpg"/>
        </item>
        <item>
            <title><![CDATA[Celebrity Big Brother: 11,000 complaints over 'punching' episode]]></title>
            <description><![CDATA[The complaints follow an episode in which Ryan Thomas receives a warning for "punching" Roxanne Pallett.]]></description>
            <link>https://www.bbc.co.uk/news/newsbeat-45365499</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/newsbeat-45365499</guid>
            <pubDate>Fri, 31 Aug 2018 15:26:45 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/10490/production/_103240766_d5b136e5-c1d0-4754-8c58-a32e6ec8b9ac.jpg"/>
        </item>
        <item>
            <title><![CDATA[Cow rescued after nine days at bottom of Devon cliffs]]></title>
            <description><![CDATA[The animal was trapped on rocks and fed by kayak for more than a week before the rescue.]]></description>
            <link>https://www.bbc.co.uk/news/uk-england-devon-45357436</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-england-devon-45357436</guid>
            <pubDate>Fri, 31 Aug 2018 13:56:29 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/CF34/production/_103244035_cowrescuebbc.jpg"/>
        </item>
        <item>
            <title><![CDATA[Man stole mother-in-law's corpse from funeral parlour]]></title>
            <description><![CDATA[The unnamed man raided the Rochester funeral director a year ago after hearing it was going bust.]]></description>
            <link>https://www.bbc.co.uk/news/uk-england-kent-45367080</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-england-kent-45367080</guid>
            <pubDate>Fri, 31 Aug 2018 12:27:07 GMT</pubDate>
            <media:thumbnail width="1029" height="579" url="http://c.files.bbci.co.uk/CD54/production/_103246525_mediaitem103243382.jpg"/>
        </item>
        <item>
            <title><![CDATA[Crossrail delay: New London line will open in autumn 2019]]></title>
            <description><![CDATA[The £15bn route is Europe's biggest infrastructure project and will link Heathrow to Canary Wharf.]]></description>
            <link>https://www.bbc.co.uk/news/uk-england-london-45367990</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-england-london-45367990</guid>
            <pubDate>Fri, 31 Aug 2018 13:29:01 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/151F2/production/_103241568_crossrail_getty.jpg"/>
        </item>
        <item>
            <title><![CDATA[Homebase rescue plan voted through by creditors]]></title>
            <description><![CDATA[Creditors have voted in favour of a rescue plan for the DIY chain that will see 42 stores closed.]]></description>
            <link>https://www.bbc.co.uk/news/business-45367910</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/business-45367910</guid>
            <pubDate>Fri, 31 Aug 2018 13:37:18 GMT</pubDate>
            <media:thumbnail width="1300" height="731" url="http://c.files.bbci.co.uk/1281C/production/_103240857_homebase.alamy.lady.jpg"/>
        </item>
        <item>
            <title><![CDATA[Shropshire baby and mother maternity deaths review widened]]></title>
            <description><![CDATA[Shrewsbury and Telford Hospital NHS Trust says it reviewed 40 cases and has contacted 12 families.]]></description>
            <link>https://www.bbc.co.uk/news/uk-england-shropshire-45366648</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-england-shropshire-45366648</guid>
            <pubDate>Fri, 31 Aug 2018 15:28:56 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/6C13/production/_85676672_stanton-katestanton-davies1.jpg"/>
        </item>
        <item>
            <title><![CDATA[Wonga prepares for 'orderly wind down']]></title>
            <description><![CDATA[Borrowers must still repay their loans and anyone seeking compensation can still make a claim.]]></description>
            <link>https://www.bbc.co.uk/news/business-45372712</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/business-45372712</guid>
            <pubDate>Fri, 31 Aug 2018 14:12:22 GMT</pubDate>
            <media:thumbnail width="2048" height="1152" url="http://c.files.bbci.co.uk/6048/production/_103184642_gettyimages-523208242.jpg"/>
        </item>
        <item>
            <title><![CDATA[Southampton 'paedophile hunter' guilty of false claim]]></title>
            <description><![CDATA[Vandals 'attack a man's house' after he is wrongly accused by an online anti-paedophile campaigner.]]></description>
            <link>https://www.bbc.co.uk/news/uk-england-hampshire-43201269</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-england-hampshire-43201269</guid>
            <pubDate>Fri, 31 Aug 2018 13:29:04 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/1671E/production/_103243919_dure.jpg"/>
        </item>
        <item>
            <title><![CDATA[Man with dwarfism describes street abuse]]></title>
            <description><![CDATA[Eugene Grant is regularly abused by people as he walks around Newcastle.]]></description>
            <link>https://www.bbc.co.uk/news/uk-45360783</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-45360783</guid>
            <pubDate>Thu, 30 Aug 2018 23:14:08 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/50AD/production/_103235602_p06jvk9n.jpg"/>
        </item>
        <item>
            <title><![CDATA[Five back-to-school sleeping tips for kids]]></title>
            <description><![CDATA[It's back-to-school time. Here are five top tips for getting your kids back into a school-friendly bedtime routine.]]></description>
            <link>https://www.bbc.co.uk/news/uk-45362203</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-45362203</guid>
            <pubDate>Thu, 30 Aug 2018 23:17:16 GMT</pubDate>
            <media:thumbnail width="1024" height="576" url="http://c.files.bbci.co.uk/2033/production/_103234280_p06jv9m9.jpg"/>
        </item>
        <item>
            <title><![CDATA[Breakdancing 'helped man escape gang culture']]></title>
            <description><![CDATA[Paco Box said he carried a gun and robbed people to fund his former lifestyle.]]></description>
            <link>https://www.bbc.co.uk/news/uk-england-derbyshire-45355847</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-england-derbyshire-45355847</guid>
            <pubDate>Fri, 31 Aug 2018 00:07:50 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/13A9/production/_103233050_p06jtlnx.jpg"/>
        </item>
        <item>
            <title><![CDATA[Carers not 'glorified bottom wipers']]></title>
            <description><![CDATA[Beth Sturgis posted a letter on social media with a message to those who "undervalue" her work.]]></description>
            <link>https://www.bbc.co.uk/news/uk-england-devon-45356728</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-england-devon-45356728</guid>
            <pubDate>Thu, 30 Aug 2018 16:29:45 GMT</pubDate>
            <media:thumbnail width="1920" height="1080" url="http://c.files.bbci.co.uk/841F/production/_103232833_carer.jpg"/>
        </item>
        <item>
            <title><![CDATA[Bereavement payments: 'He's not being treated as their dad']]></title>
            <description><![CDATA[Sarah Cripps' partner died in 2015 but she wasn't entitled to bereavement payments as they weren't married.]]></description>
            <link>https://www.bbc.co.uk/news/uk-45348176</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-45348176</guid>
            <pubDate>Thu, 30 Aug 2018 14:40:12 GMT</pubDate>
            <media:thumbnail width="1024" height="576" url="http://c.files.bbci.co.uk/10CA4/production/_103227786_p06jtvfm.jpg"/>
        </item>
        <item>
            <title><![CDATA[Plus-sized model 'cried when asked to be cover model']]></title>
            <description><![CDATA[US plus-sized model Tess Holliday was asked to be on the front cover of Cosmopolitan's UK magazine.]]></description>
            <link>https://www.bbc.co.uk/news/uk-45356346</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-45356346</guid>
            <pubDate>Thu, 30 Aug 2018 11:23:09 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/4314/production/_103227171_model.jpg"/>
        </item>
        <item>
            <title><![CDATA[The Duke of Sussex gets on stage with the Hamilton cast]]></title>
            <description><![CDATA[The Duke and Duchess of Sussex attend a charity performance of the hit musical in London's West End.]]></description>
            <link>https://www.bbc.co.uk/news/entertainment-arts-45351189</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/entertainment-arts-45351189</guid>
            <pubDate>Thu, 30 Aug 2018 01:49:24 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/124A0/production/_103221947_p06jskmy.jpg"/>
        </item>
        <item>
            <title><![CDATA[BBC News Channel]]></title>
            <description><![CDATA[BBC coverage of latest developments]]></description>
            <link>https://www.bbc.co.uk/news/10318089</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/10318089</guid>
            <pubDate>Mon, 09 Jul 2018 00:51:39 GMT</pubDate>
            <media:thumbnail width="2048" height="1152" url="http://news.bbcimg.co.uk/media/images/83122000/png/_83122356_globe_2048x1152.png"/>
        </item>
        <item>
            <title><![CDATA[Baby Shark takes a bite out of the UK Top 40 charts]]></title>
            <description><![CDATA[It's been driving parents up the wall for years and now the song has hit the charts.]]></description>
            <link>https://www.bbc.co.uk/news/newsbeat-45368180</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/newsbeat-45368180</guid>
            <pubDate>Fri, 31 Aug 2018 15:09:37 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/9348/production/_103240773_babyshark.jpg"/>
        </item>
        <item>
            <title><![CDATA[Hot air balloon makes emergency landing in Gloucester street]]></title>
            <description><![CDATA[It came down in a suburban road after the wind dropped it the pilot ran out of gas to keep airborne.]]></description>
            <link>https://www.bbc.co.uk/news/uk-england-gloucestershire-45369582</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-england-gloucestershire-45369582</guid>
            <pubDate>Fri, 31 Aug 2018 12:48:48 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/12786/production/_103245657_ballooncut1.jpg"/>
        </item>
        <item>
            <title><![CDATA[Frank Field is not leading a Labour breakaway]]></title>
            <description><![CDATA[But the veteran MP's departure from the Labour whip may nudge others towards the exit.]]></description>
            <link>https://www.bbc.co.uk/news/uk-politics-45367473</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-politics-45367473</guid>
            <pubDate>Fri, 31 Aug 2018 15:33:43 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/5AEA/production/_103247232_9618740e-ac6c-4fe3-95b4-4d4d83ad48c9.jpg"/>
        </item>
        <item>
            <title><![CDATA[How the Hogwarts Express was saved from a Welsh scrapyard]]></title>
            <description><![CDATA[The real-life story of the Hogwarts Express is almost as magical as the engine itself.]]></description>
            <link>https://www.bbc.co.uk/news/uk-wales-45303331</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-wales-45303331</guid>
            <pubDate>Fri, 31 Aug 2018 01:10:28 GMT</pubDate>
            <media:thumbnail width="2048" height="1152" url="http://c.files.bbci.co.uk/025B/production/_103230600_hogexpgetty.jpg"/>
        </item>
        <item>
            <title><![CDATA[The stomach-churning one-night stand]]></title>
            <description><![CDATA[Philip's date was going well until Crohn's Disease turned up the morning after the night before.]]></description>
            <link>https://www.bbc.co.uk/news/disability-45045223</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/disability-45045223</guid>
            <pubDate>Fri, 31 Aug 2018 00:53:02 GMT</pubDate>
            <media:thumbnail width="1024" height="576" url="http://c.files.bbci.co.uk/25C5/production/_103196690_bbcouch_phillip1.jpg"/>
        </item>
        <item>
            <title><![CDATA[Environmental campaigner Lord Peter Melchett dies, aged 71]]></title>
            <description><![CDATA[One friend described Lord Melchett as "an establishment figure who became a radical campaigner".]]></description>
            <link>https://www.bbc.co.uk/news/uk-england-norfolk-45366188</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-england-norfolk-45366188</guid>
            <pubDate>Fri, 31 Aug 2018 10:36:56 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/096E/production/_103241420_petermelchett2.jpg"/>
        </item>
        <item>
            <title><![CDATA[Wonga: Will my debt be written off and other questions answered]]></title>
            <description><![CDATA[Payday lender Wonga has collapsed, but what does this mean for borrowers and compensation claimants?]]></description>
            <link>https://www.bbc.co.uk/news/business-45359773</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/business-45359773</guid>
            <pubDate>Thu, 30 Aug 2018 17:37:47 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/7BE1/production/_103231713_paymentbbc.jpg"/>
        </item>
        <item>
            <title><![CDATA[A guide to Labour Party anti-Semitism claims]]></title>
            <description><![CDATA[The roots of the row over Jeremy Corbyn's party and claims of anti-Semitism.]]></description>
            <link>https://www.bbc.co.uk/news/uk-politics-45030552</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-politics-45030552</guid>
            <pubDate>Thu, 30 Aug 2018 16:46:10 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/C18C/production/_102784594_2e5e376c-2987-4d8c-8b1c-8f760d882b3c.jpg"/>
        </item>
        <item>
            <title><![CDATA[Profile: Who is Frank Field?]]></title>
            <description><![CDATA[A profile of the veteran Labour MP and serial rebel who has quit the party's group in Parliament.]]></description>
            <link>https://www.bbc.co.uk/news/uk-politics-45356190</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/uk-politics-45356190</guid>
            <pubDate>Thu, 30 Aug 2018 16:52:47 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/13DBF/production/_103234318_64ebfd81-c0bc-48bc-9533-9769653ed8e1.jpg"/>
        </item>
        <item>
            <title><![CDATA[Stacey Solomon and the 'toxic' world of gossip magazines]]></title>
            <description><![CDATA[The backlash against a Now Magazine front cover raises questions about magazines' treatment of female celebrities.]]></description>
            <link>https://www.bbc.co.uk/news/entertainment-arts-45353871</link>
            <guid isPermaLink="true">https://www.bbc.co.uk/news/entertainment-arts-45353871</guid>
            <pubDate>Thu, 30 Aug 2018 17:23:08 GMT</pubDate>
            <media:thumbnail width="976" height="549" url="http://c.files.bbci.co.uk/10E84/production/_103225296_stacey.jpg"/>
        </item>
    </channel>
</rss>