<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom"><channel><title>Hacker News: Front Page</title><link>https://news.ycombinator.com/</link><description>Hacker News RSS</description><docs>https://hnrss.org/</docs><generator>go-hnrss v1.0-10-g4f1b850</generator><lastBuildDate>Fri, 31 Aug 2018 15:58:25 +0000</lastBuildDate><atom:link href="https://hnrss.org/frontpage" rel="self" type="application/rss+xml"></atom:link><item><title><![CDATA[How LeBron James’ Tattoos Could Affect Baseball]]></title><description><![CDATA[
<p>Article URL: <a href="https://www.fangraphs.com/blogs/how-lebron-james-tattoos-could-affect-baseball/">https://www.fangraphs.com/blogs/how-lebron-james-tattoos-could-affect-baseball/</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17886248">https://news.ycombinator.com/item?id=17886248</a></p>
<p>Points: 17</p>
<p># Comments: 3</p>
]]></description><pubDate>Fri, 31 Aug 2018 15:18:39 +0000</pubDate><link>https://www.fangraphs.com/blogs/how-lebron-james-tattoos-could-affect-baseball/</link><dc:creator>snacktaster</dc:creator><comments>https://news.ycombinator.com/item?id=17886248</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17886248</guid></item><item><title><![CDATA[Russia tries more precise technology to block Telegram messenger]]></title><description><![CDATA[
<p>Article URL: <a href="https://www.reuters.com/article/us-russia-telegram/russia-tries-more-precise-technology-to-block-telegram-messenger-idUSKCN1LF1ZZ">https://www.reuters.com/article/us-russia-telegram/russia-tries-more-precise-technology-to-block-telegram-messenger-idUSKCN1LF1ZZ</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17886050">https://news.ycombinator.com/item?id=17886050</a></p>
<p>Points: 29</p>
<p># Comments: 4</p>
]]></description><pubDate>Fri, 31 Aug 2018 14:54:06 +0000</pubDate><link>https://www.reuters.com/article/us-russia-telegram/russia-tries-more-precise-technology-to-block-telegram-messenger-idUSKCN1LF1ZZ</link><dc:creator>Mereruka</dc:creator><comments>https://news.ycombinator.com/item?id=17886050</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17886050</guid></item><item><title><![CDATA[Show HN: Proven – keybase powered alt to Twitter's verified. Now with HN support]]></title><description><![CDATA[
<p>Article URL: <a href="https://github.com/dschep/proven">https://github.com/dschep/proven</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17885908">https://news.ycombinator.com/item?id=17885908</a></p>
<p>Points: 71</p>
<p># Comments: 23</p>
]]></description><pubDate>Fri, 31 Aug 2018 14:35:26 +0000</pubDate><link>https://github.com/dschep/proven</link><dc:creator>dschep</dc:creator><comments>https://news.ycombinator.com/item?id=17885908</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17885908</guid></item><item><title><![CDATA[MIT Blockchain Systems Consortium: Scalable AI and Blockchain for Humanity]]></title><description><![CDATA[
<p>Article URL: <a href="https://cryptosystems.mit.edu/mit-blockchain-systems-consortium-scalable-ai-blockchain-humanity">https://cryptosystems.mit.edu/mit-blockchain-systems-consortium-scalable-ai-blockchain-humanity</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17885857">https://news.ycombinator.com/item?id=17885857</a></p>
<p>Points: 14</p>
<p># Comments: 8</p>
]]></description><pubDate>Fri, 31 Aug 2018 14:29:55 +0000</pubDate><link>https://cryptosystems.mit.edu/mit-blockchain-systems-consortium-scalable-ai-blockchain-humanity</link><dc:creator>endorprotocol</dc:creator><comments>https://news.ycombinator.com/item?id=17885857</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17885857</guid></item><item><title><![CDATA[Maersk installed 100-foot-tall rotating sails on one of its tankers]]></title><description><![CDATA[
<p>Article URL: <a href="https://www.wsj.com/articles/maersk-tankers-turns-to-wind-power-to-cut-soaring-fuel-costs-1535641239">https://www.wsj.com/articles/maersk-tankers-turns-to-wind-power-to-cut-soaring-fuel-costs-1535641239</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17885284">https://news.ycombinator.com/item?id=17885284</a></p>
<p>Points: 131</p>
<p># Comments: 63</p>
]]></description><pubDate>Fri, 31 Aug 2018 13:16:40 +0000</pubDate><link>https://www.wsj.com/articles/maersk-tankers-turns-to-wind-power-to-cut-soaring-fuel-costs-1535641239</link><dc:creator>petethomas</dc:creator><comments>https://news.ycombinator.com/item?id=17885284</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17885284</guid></item><item><title><![CDATA[The Chinese were solving 14th degree polynomials in 1303. Why?]]></title><description><![CDATA[
<p>Article URL: <a href="https://www.reddit.com/r/AskHistorians/comments/9bkfhj/by_1303_the_chinese_were_solving_equations_of_the/">https://www.reddit.com/r/AskHistorians/comments/9bkfhj/by_1303_the_chinese_were_solving_equations_of_the/</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17885100">https://news.ycombinator.com/item?id=17885100</a></p>
<p>Points: 73</p>
<p># Comments: 38</p>
]]></description><pubDate>Fri, 31 Aug 2018 12:52:33 +0000</pubDate><link>https://www.reddit.com/r/AskHistorians/comments/9bkfhj/by_1303_the_chinese_were_solving_equations_of_the/</link><dc:creator>tombh</dc:creator><comments>https://news.ycombinator.com/item?id=17885100</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17885100</guid></item><item><title><![CDATA[Pappas Pärlor, the man who turns the world into 8bit video games]]></title><description><![CDATA[
<p>Article URL: <a href="https://www.voicemod.net/blog/pappas-parlor-the-man-who-turns-the-world-into-8bit-video-games/">https://www.voicemod.net/blog/pappas-parlor-the-man-who-turns-the-world-into-8bit-video-games/</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17884950">https://news.ycombinator.com/item?id=17884950</a></p>
<p>Points: 21</p>
<p># Comments: 0</p>
]]></description><pubDate>Fri, 31 Aug 2018 12:30:43 +0000</pubDate><link>https://www.voicemod.net/blog/pappas-parlor-the-man-who-turns-the-world-into-8bit-video-games/</link><dc:creator>vocoderman</dc:creator><comments>https://news.ycombinator.com/item?id=17884950</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17884950</guid></item><item><title><![CDATA[Even bad estimates are valuable if you use them right]]></title><description><![CDATA[
<p>Article URL: <a href="https://ntietz.com/2018/08/31/estimates.html">https://ntietz.com/2018/08/31/estimates.html</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17884925">https://news.ycombinator.com/item?id=17884925</a></p>
<p>Points: 17</p>
<p># Comments: 6</p>
]]></description><pubDate>Fri, 31 Aug 2018 12:26:45 +0000</pubDate><link>https://ntietz.com/2018/08/31/estimates.html</link><dc:creator>ntietz</dc:creator><comments>https://news.ycombinator.com/item?id=17884925</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17884925</guid></item><item><title><![CDATA[Multi-Armed Bandits, Conjugate Models and Bayesian Reinforcement Learning]]></title><description><![CDATA[
<p>Article URL: <a href="https://eigenfoo.xyz/bayesian-bandits/">https://eigenfoo.xyz/bayesian-bandits/</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17884907">https://news.ycombinator.com/item?id=17884907</a></p>
<p>Points: 67</p>
<p># Comments: 9</p>
]]></description><pubDate>Fri, 31 Aug 2018 12:23:06 +0000</pubDate><link>https://eigenfoo.xyz/bayesian-bandits/</link><dc:creator>_eigenfoo</dc:creator><comments>https://news.ycombinator.com/item?id=17884907</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17884907</guid></item><item><title><![CDATA[x86-64 Assembly Language Programming with Ubuntu]]></title><description><![CDATA[
<p>Article URL: <a href="http://www.egr.unlv.edu/~ed/x86.html">http://www.egr.unlv.edu/~ed/x86.html</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17884893">https://news.ycombinator.com/item?id=17884893</a></p>
<p>Points: 79</p>
<p># Comments: 38</p>
]]></description><pubDate>Fri, 31 Aug 2018 12:21:55 +0000</pubDate><link>http://www.egr.unlv.edu/~ed/x86.html</link><dc:creator>lainon</dc:creator><comments>https://news.ycombinator.com/item?id=17884893</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17884893</guid></item><item><title><![CDATA[Total Recall: LeBron's mighty mind (2014)]]></title><description><![CDATA[
<p>Article URL: <a href="http://www.espn.com/nba/story/_/id/11067098/lebron-james-greatest-weapon-brain">http://www.espn.com/nba/story/_/id/11067098/lebron-james-greatest-weapon-brain</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17884683">https://news.ycombinator.com/item?id=17884683</a></p>
<p>Points: 27</p>
<p># Comments: 5</p>
]]></description><pubDate>Fri, 31 Aug 2018 11:39:44 +0000</pubDate><link>http://www.espn.com/nba/story/_/id/11067098/lebron-james-greatest-weapon-brain</link><dc:creator>wallflower</dc:creator><comments>https://news.ycombinator.com/item?id=17884683</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17884683</guid></item><item><title><![CDATA[EU to recommend that member states abolish daylight saving time]]></title><description><![CDATA[
<p>Article URL: <a href="https://www.theguardian.com/world/2018/aug/31/eu-recommend-member-states-abolish-daylight-saving-time">https://www.theguardian.com/world/2018/aug/31/eu-recommend-member-states-abolish-daylight-saving-time</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17884553">https://news.ycombinator.com/item?id=17884553</a></p>
<p>Points: 293</p>
<p># Comments: 187</p>
]]></description><pubDate>Fri, 31 Aug 2018 11:15:40 +0000</pubDate><link>https://www.theguardian.com/world/2018/aug/31/eu-recommend-member-states-abolish-daylight-saving-time</link><dc:creator>bkfh</dc:creator><comments>https://news.ycombinator.com/item?id=17884553</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17884553</guid></item><item><title><![CDATA[Cargo ships that sink when their cargo suddenly liquefies]]></title><description><![CDATA[
<p>Article URL: <a href="https://theconversation.com/mystery-of-the-cargo-ships-that-sink-when-their-cargo-suddenly-liquefies-101158">https://theconversation.com/mystery-of-the-cargo-ships-that-sink-when-their-cargo-suddenly-liquefies-101158</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17884382">https://news.ycombinator.com/item?id=17884382</a></p>
<p>Points: 150</p>
<p># Comments: 61</p>
]]></description><pubDate>Fri, 31 Aug 2018 10:29:03 +0000</pubDate><link>https://theconversation.com/mystery-of-the-cargo-ships-that-sink-when-their-cargo-suddenly-liquefies-101158</link><dc:creator>YeGoblynQueenne</dc:creator><comments>https://news.ycombinator.com/item?id=17884382</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17884382</guid></item><item><title><![CDATA[Lenovo’s new Yoga Book replaces the keyboard with an E Ink screen]]></title><description><![CDATA[
<p>Article URL: <a href="https://www.theverge.com/2018/8/30/17788476/lenovo-yoga-book-c930-dual-e-ink-screen-price-photos-release-date-ifa-2018">https://www.theverge.com/2018/8/30/17788476/lenovo-yoga-book-c930-dual-e-ink-screen-price-photos-release-date-ifa-2018</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17884373">https://news.ycombinator.com/item?id=17884373</a></p>
<p>Points: 88</p>
<p># Comments: 86</p>
]]></description><pubDate>Fri, 31 Aug 2018 10:27:04 +0000</pubDate><link>https://www.theverge.com/2018/8/30/17788476/lenovo-yoga-book-c930-dual-e-ink-screen-price-photos-release-date-ifa-2018</link><dc:creator>aogl</dc:creator><comments>https://news.ycombinator.com/item?id=17884373</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17884373</guid></item><item><title><![CDATA[Can Beethoven send takedown requests?]]></title><description><![CDATA[
<p>Article URL: <a href="https://wikimediafoundation.org/2018/08/27/can-beethoven-send-takedown-requests-a-first-hand-account-of-one-german-professors-experience-with-overly-broad-upload-filters/">https://wikimediafoundation.org/2018/08/27/can-beethoven-send-takedown-requests-a-first-hand-account-of-one-german-professors-experience-with-overly-broad-upload-filters/</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17884215">https://news.ycombinator.com/item?id=17884215</a></p>
<p>Points: 319</p>
<p># Comments: 163</p>
]]></description><pubDate>Fri, 31 Aug 2018 09:47:48 +0000</pubDate><link>https://wikimediafoundation.org/2018/08/27/can-beethoven-send-takedown-requests-a-first-hand-account-of-one-german-professors-experience-with-overly-broad-upload-filters/</link><dc:creator>janoszen</dc:creator><comments>https://news.ycombinator.com/item?id=17884215</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17884215</guid></item><item><title><![CDATA[Scientists make a touch tablet that rolls and scrolls]]></title><description><![CDATA[
<p>Article URL: <a href="https://techcrunch.com/2018/08/31/scientists-make-a-prototype-touch-tablet-that-rolls-and-scrolls/">https://techcrunch.com/2018/08/31/scientists-make-a-prototype-touch-tablet-that-rolls-and-scrolls/</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17884148">https://news.ycombinator.com/item?id=17884148</a></p>
<p>Points: 41</p>
<p># Comments: 23</p>
]]></description><pubDate>Fri, 31 Aug 2018 09:32:17 +0000</pubDate><link>https://techcrunch.com/2018/08/31/scientists-make-a-prototype-touch-tablet-that-rolls-and-scrolls/</link><dc:creator>Ours90</dc:creator><comments>https://news.ycombinator.com/item?id=17884148</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17884148</guid></item><item><title><![CDATA[Blackened Buildings of Manchester Before the Clean Air Act]]></title><description><![CDATA[
<p>Article URL: <a href="https://www.manchestereveningnews.co.uk/incoming/gallery/blackened-buildings-manchester-before-clean-8727918">https://www.manchestereveningnews.co.uk/incoming/gallery/blackened-buildings-manchester-before-clean-8727918</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17883481">https://news.ycombinator.com/item?id=17883481</a></p>
<p>Points: 171</p>
<p># Comments: 82</p>
]]></description><pubDate>Fri, 31 Aug 2018 06:54:23 +0000</pubDate><link>https://www.manchestereveningnews.co.uk/incoming/gallery/blackened-buildings-manchester-before-clean-8727918</link><dc:creator>monort</dc:creator><comments>https://news.ycombinator.com/item?id=17883481</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17883481</guid></item><item><title><![CDATA[On the Worst-Case Complexity of TimSort]]></title><description><![CDATA[
<p>Article URL: <a href="http://drops.dagstuhl.de/opus/volltexte/2018/9467/">http://drops.dagstuhl.de/opus/volltexte/2018/9467/</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17883461">https://news.ycombinator.com/item?id=17883461</a></p>
<p>Points: 171</p>
<p># Comments: 55</p>
]]></description><pubDate>Fri, 31 Aug 2018 06:48:40 +0000</pubDate><link>http://drops.dagstuhl.de/opus/volltexte/2018/9467/</link><dc:creator>pelario</dc:creator><comments>https://news.ycombinator.com/item?id=17883461</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17883461</guid></item><item><title><![CDATA[Drawing Spirograph curves in Python]]></title><description><![CDATA[
<p>Article URL: <a href="https://www.johndcook.com/blog/2018/08/30/drawing-spirograph-curves-in-python/">https://www.johndcook.com/blog/2018/08/30/drawing-spirograph-curves-in-python/</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17883187">https://news.ycombinator.com/item?id=17883187</a></p>
<p>Points: 29</p>
<p># Comments: 8</p>
]]></description><pubDate>Fri, 31 Aug 2018 05:30:57 +0000</pubDate><link>https://www.johndcook.com/blog/2018/08/30/drawing-spirograph-curves-in-python/</link><dc:creator>chmaynard</dc:creator><comments>https://news.ycombinator.com/item?id=17883187</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17883187</guid></item><item><title><![CDATA[On the Kidnapped African Boy Who Became a German Philosopher]]></title><description><![CDATA[
<p>Article URL: <a href="https://lithub.com/on-the-kidnapped-african-boy-who-became-a-german-philosopher/">https://lithub.com/on-the-kidnapped-african-boy-who-became-a-german-philosopher/</a></p>
<p>Comments URL: <a href="https://news.ycombinator.com/item?id=17883069">https://news.ycombinator.com/item?id=17883069</a></p>
<p>Points: 90</p>
<p># Comments: 14</p>
]]></description><pubDate>Fri, 31 Aug 2018 05:01:56 +0000</pubDate><link>https://lithub.com/on-the-kidnapped-african-boy-who-became-a-german-philosopher/</link><dc:creator>lermontov</dc:creator><comments>https://news.ycombinator.com/item?id=17883069</comments><guid isPermaLink="false">https://news.ycombinator.com/item?id=17883069</guid></item></channel></rss>